<div class="basic-container" id="card-container">
    <div id="image-container">
        <img src="../../assets/background.jpg" style="width: 100%; height: 100%; border-radius: 20px;">
    </div>

    <div id="info-container">
        <div>
            <h2 class="green">Pool House</h2>
        <div>
            <i class="fa-solid fa-location-dot red"></i>
            <span class="black">Gunduliceva 43</span>
        </div>
        <div>
            <i class="fa-solid fa-earth-americas green"></i>
            <span class="black">Kragujevac, Srbija</span>
        </div>
        <div>
            <i class="fa-solid fa-maximize"></i>
            <span class="black">200 m2</span>

        </div>
        <div>
            <i class="fa-solid fa-layer-group blue"></i>
            <span class="black">3 floors</span>

        </div>
        </div>
        <div style="float: right; margin-right: 15px;">
            <button class="active-button" mat-raised-button>active</button>
        </div>
        
        
    </div>
</div>
